html
  head
    title= title
    link(
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    )
    |
    link(
      href="/public/style.css"
      rel="stylesheet"
      type="text/css"
    )
    |
    style(type="text/css").
      .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
  body
    .container
      h1= "Something went wrong with your request..."
      p= errorMessage